<!-- <div class="modal image-modal transparent" on-swipe-down="closeModal()" on-swipe-up="closeModal()"> -->
<div class="modal myimage-modal mytransparent">
  <button class="button" ng-click="closeModal()" style="float: right;">Cerrar</button>
  <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
    <ion-slide ng-repeat="imagen in imagenes track by $index">

      <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
      zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"
      delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">

      <div class="myimage" style="background-image: url( {{imagen.src}} )"></div>

      </ion-scroll>
    </ion-slide>
  </ion-slide-box>
</div>
